nav {
    width: 100vw;
    position: fixed;
    top: 0;
    background-color: rgb(250, 231, 231);
    padding: 30px;
    display: flex;
    justify-content: space-around;
    color: white;
}

a {
    text-decoration: none;
}

a:hover {
    color: black;
    padding: 5px;
    border-radius: 3px;
}

.active {
    color: black;
    font-weight: bolder;
    background-color: aliceblue;
    padding: 5px;
    border-radius: 5px;
}
